body {
  background-image: url('../images/BioLockJ_Block_green.svg');
}



.fileViewer {
  padding: 14px 10px;
  background-color: rgb(255,246,220);
  border: 1px solid black;
  margin: 10px 30px 20px 30px;
  flex: auto;
}
.projectIcon {
  background-image: url('../images/BioLockJ_Block_green.svg');
  background-repeat: no-repeat;
  /* background-attachment: inherit; */
  /* background-position: center top; */
  text-indent: 30px;
  /* opacity: 0.9; */
  height: 20px;
  width: 20px;
  padding:10px;
  margin:5px;
  display: block;
  text-shadow:     -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
  position: relative;
  left: 30px;
  color: black;
}



