<!-- {{HOST_ENVIRONMENT}} -->
<!-- root div for react -->
<div class="" id="root"></div>

<link rel="stylesheet" type="text/css" href="./../stylesheets/config.css" />
<div class="nav-bar">
  <div class="dropdown">
    <button class="dropbtn" onclick="projectOptions()">Projects (Click here to start)</button>
    <div class="dropdown-content" id="projects">
      <a onclick="newProj()" href="#">New</a>
      <a id="openAwsSettings">AWS Mini-dashboard</a>
      <a >Open BLJ config with file picker <input type="file" accept=".txt,.properties" id="localFile"></a>
      <a id="manageConfigs" href="#">Manage saved BLJ configs</a>
      <a id="restartListAnchor" href="#">Modify configuration of a previously launched project </a>
      <a id="recent" href="#">(Auto)Saved configuration</a>
    </div>
  </div>
  <button class="dropbtn" id="prevConfigNavBut">Previously run config</button>
</div>

<div class="banner">BioLockJ</div>

<!--options for control panel-->
<div class="menu" id='mainMenu'>
  <div id="tabButtons" class="tab">
    <button id="defaultOpen" class="tablinks basicTabBut" onclick="openTab(event, 'projectTab')">Project</button>
    <button class="tablinks basicTabBut" onclick="openTab(event, 'moduleTab')">Modules</button>
    <button class="tablinks basicTabBut" onclick="openTab(event, 'inputTab')">Input</button>
    <button class="tablinks basicTabBut" onclick="openTab(event, 'metadataTab')">Metadata</button>
    <button class="tablinks basicTabBut" onclick="openTab(event, 'clusterTab')">Cluster</button>
    <button class="tablinks basicTabBut" onclick="openTab(event, 'scriptTab')">Script</button>
    <button class="tablinks basicTabBut" onclick="openTab(event, 'reportTab')">Report</button>
    <button class="tablinks basicTabBut" onclick="openTab(event, 'multiplexerTab')">Multiplexer</button>
    <button class="tablinks basicTabBut" onclick="openTab(event, 'demultiplexerTab')">Demultiplexer</button>
    <button class="tablinks basicTabBut" onclick="openTab(event, 'exeTab')">Exe</button>
    <button class="tablinks basicTabBut" onclick="openTab(event, 'dockerTab')">Docker</button>
    <button class="tablinks rMod" onclick="openTab(event, 'rTab')">R</button>
    <button class="tablinks rdpClass" onclick="openTab(event, 'rdpTab')">RDP</button>
    <button class="tablinks qiimeClass" onclick="openTab(event, 'qiimeTab')">QIIME</button>
    <button class="tablinks krakenClass" onclick="openTab(event, 'krakenTab')">Kraken</button>
    <button class="tablinks kraken2Class" onclick="openTab(event, 'kraken2Tab')">Kraken2</button>
    <button class="tablinks metaphlanClass" onclick="openTab(event, 'metaphlanTab')">MetaPhlAn</button>
    <button class="tablinks kneadDataClass" onclick="openTab(event, 'kneadDataTab')">kneadData</button>
    <button class="tablinks R_PlotMds" onclick="openTab(event, 'r_PlotMdsTab')">R Plot MDS</button>
    <button class="tablinks R_CalculateStats" onclick="openTab(event, 'r_CalculateStatsTab')">R Statistics Calculator</button>
    <button class="tablinks R_PlotEffectSize" onclick="openTab(event, 'r_PlotEffectSizeTab')">R Plot Effect Size</button>
    <button class="tablinks rarefyOtuCounts" onclick="openTab(event, 'rarefyOtuCountsTab')">Rarefy OTU Counts</button>
    <button class="tablinks removeLowOtuCounts" onclick="openTab(event, 'removeLowOtuCountsTab')">Remove Low OTU Counts</button>
    <button class="tablinks SeqFileValidatorMod" onclick="openTab(event, 'seqFileValidatorTab')">Sequence File Validator</button>
    <button class="tablinks humann2Class" onclick="openTab(event, 'humann2Tab')">HumanN2</button>
    <button class="tablinks rarefySeqs" onclick="openTab(event, 'rarefySeqsTab')">Rarify Seqs</button>
    <button id='AwsButton' class="tablinks basicTabBut" onclick="openTab(event, 'AwsTab')">AWS</button>
    <button class="tablinks emailMod" onclick="openTab(event, 'mailTab')">E-mail</button>
  </div>

  <!--tabbed menu-->
<form id="configForm" class="" action="" method="post">

  <div id="projectTab" class="tabcontent">
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <p>Project name:
        <input class="sp" id='pipeline.configFile' name='pipeline.configFile' type="text" size='35'></p>
      <p>Project description (for your own records):
        <input class="sp" id='pipeline.description' name='pipeline.description' type="text" size='70'></p>
      <p>Copy input files into the parent directory:
        <select class="sp" id='pipeline.copyInput' name='pipeline.copyInput'>
          <option selected default value="">Click for options</option>
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select></p>
      <p>Delete temporary files:
        <select class='sp' id="pipeline.deleteTempFiles" name="pipeline.deleteTempFiles">
          <option selected default value="">Click for options</option>
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select></p>
        <button type="button" name="dockerDefaultProps" id="dockerDefaultProps">Add Default Properties</button>
      <p class="hidden" id="defaultPropsP">Path to default properties file:
        <input class="sp" type="text" id="pipeline.defaultProps" name="pipeline.defaultProps" size='70'><br>
        <!-- add file picker here -->
        <i>(Path to a default BioLockJ configuration file containing default
        property values that are overridden if defined in the primary
        configuration file.)</i></p>
      <p>Log level: <br><i>Determines log level sensitivity.</i>
        <select class="sp" name="pipeline.logLevel" id="pipeline.logLevel">
          <option selected default value="">Click for options</option>
          <option value="DEBUG">Include debug output.</option>
          <option value="INFO">Include informative output.</option>
          <option value="WARN">Include only warnings.</option>
          <option value="ERROR">Include only errors.</option>
        </select></p>
      <p>Project runtime environment:
        <select class="sp" name="pipeline.env" id="pipeline.env">
          <option selected default value="">Click for options</option>
          <option value="aws">AWS</option>
          <option value="cluster">Cluster</option>
          <option value="local">Local</option>
        </select>
      </p>
      <p>A directory on the local workstation where the cluster.downloadModule will be downloaded
        <input class="sp" type="text" id="pipeline.downloadDir" name="pipeline.downloadDir"><br></p>
      <p>Set chmod -R command security bits on pipeline root directory (Ex. 770).
        <input class="sp" type="text" id="pipeline.permissions" name="pipeline.permissions" size='70'>
      </p>
      <p>Assign module to demultiplex datasets:
        <input type="text" class="sp" id="pipeline.defaultDemultiplexer" name="pipeline.defaultDemultiplexer" placeholder="Demultiplexer" size='70'>
      </p>
      <p>ssign module to convert fastq sequence files into fasta format when required. Default = AwkFastaConverter":
        <input type="text" class="sp" id="pipeline.defaultFastaConverter" name="pipeline.defaultFastaConverter" placeholder="AwkFastaConverter" size='70'>
      </p>
      <p>Assign module to merge paired reads when required. Default = PearMergeReads:
        <input type="text" class="sp" id="pipeline.defaultSeqMerger" name="pipeline.defaultSeqMerger" placeholder="PearMergeReads" size='70'>
      </p>
      <p>Add implicit modules to the pipeline.
        <select class="sp" id="pipeline.disableAddImplicitModules" name="pipeline.disableAddImplicitModules">
          <option selected default value="">Click for options</option>
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
      </p>
      <p>Disable automatic adding of prerequisite modules to pipeline.
        <select class="sp" id="pipeline.disableAddPreReqModules" name="pipeline.disableAddPreReqModules">
          <option selected default value="">Click for options</option>
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
      </p>
      <p>Limit debug classes (used to limit classes that log debug statements):
        <input type="text" class="sp" id="pipeline.limitDebugClasses" name="pipeline.limitDebugClasses" size='70'>
      </p>
      <p>User profile (Bash users typically use ~/.bash_profile (the standard default)):
        <input type="text" class="sp" id="pipeline.userProfile" name="pipeline.userProfile" size='70'>
      </p>
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="moduleTab" class="tabcontent">
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
    <fieldset>
      <legend>Module options</legend>
      <div id="module">
        <span> <center> Drag module options to reorder them.<br>
          Only highlighted (green) modules will be added to your config file. <br> </center>
        </span>
        <ul id='module_ul' style="padding-left: 5px">
        </ul>
      </div>
      <div id='moduleInfo'>
        <center>Hover mouse over module for more information.</center><br>
        <div id='moduleInfoDiv'>
          <div>Info about modules will display here!</div>
          <!--inner div for adding information to-->
        </div>
      </div>
    </fieldset>
    <p>BioLockJ automatically adds implicit modules as they are needed, but you may override this behavior and force it to run an implicit module.</p>
    <select id="pipeline.allowImplicitModules" name="pipeline.allowImplicitModules">
      <option class='noOverrideImplicit' selected default value="">Click for options</option>
      <option id='yesOverrideImplicit' value="Y">Allow implicit modules to be directly added to pipeline</option>
      <option class='noOverrideImplicit' value="N">Allow BLJ to determine where to add implicit modules in the pipeline</option>
    </select><br>
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="inputTab" class="tabcontent">
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <p>Input directory (or directories): <input class="sp" type="text" size='70' id="input.dirPaths" name="input.dirPaths">
        <h5>(Input directory must contain files expected by the first module executed.
        Multiple directories must be comma-separated.)</h5></p>
      <p>Files in input directory to ignore: <input class="sp" type="text" id="input.ignoreFiles" name="input.ignoreFiles"><br>
        <h5>(Multiple files must be comma-separated.)</h5></p>
      <p>File name suffix to indicate a forward read:
          <input class="sp" type="text" id="input.suffixFw" name="input.suffixFw"><br>
        File name suffix to indicate a reverse read.
        <input class="sp" type="text" id="input.suffixRv" name="input.suffixRv"><br>
            </p>
      <p>Trim prefix:
        <input class="sp" type="text" id="input.trimPrefix" name="input.trimPrefix">
      <h5>(For files named by Sample ID, provide the
        prefix preceding the ID to trim when extracting Sample ID.
        If input.demultiplex=Y, provide any characters in the sequence header preceding the ID.
        For fastq, typically “@”.)<h5></p>
      <p>Trim suffix:
        <input class="sp" type="text" id="input.trimSuffix" name="input.trimSuffix"><br>
        <h5>(For files named by Sample ID, provide the suffix after the ID, often
           this is just the file extension.  Do not include read direction indicators l
           isted in input.forwardFileSuffix/reverseFileSuffix.
           If input.demultiplex=Y, provide 1st character in the sequence header after ID;
           for fastq, typically “:” char.)</h5></p>
      <p>Path to file containing primers to trim (File must contain only one sequence per line):
        <input class="sp" type="text" id="trimPrimers.filePath" name="trimPrimers.filePath" size='70'><br></p>
      <p>Discard reads with no primers?
        <select class="sp" id="trimPrimers.requirePrimer" name="trimPrimers.requirePrimer">
          <option selected default value="">Click for options</option>
          <option value="Y">Yes</option>
          <option value="N"> No</option>
        </select>
      </p>
      <p>Stop pipeline if any unpaired forward or reverse read sequence file is found.
        <select class="sp" name="input.requireCompletePairs" id="input.requireCompletePairs">
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
      </p>
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="metadataTab" class="tabcontent">
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <p>Metadata column name containing the barcode used for demultiplexing:
      <input class="sp" type="text" id="metadata.barcodeColumn" name="metadata.barcodeColumn"><br></p>
    <p>Metadata file path (file must have unique column headers):
      <input class="sp" type="text" id="metadata.filePath" name="metadata.filePath" size='70'><br></p>
    <p>Define how comments are represented in metadata:
      <input class="sp" type="text" id="metadata.commentChar" name="metadata.commentChar"><br></p>
    <p>Define how null values are represented in metadata:
      <input class="sp" type="text" id="metadata.nullValue" name="metadata.nullValue"></p>
    <p>Define column delimiter for input.metadata (input.columnDelim)
      <input class="sp" type="text" id="metadata.columnDelim" name="metadata.columnDelim"></p>
    <p>Require every sequence file to have a corresponding row in metadata file:
      <select class="sp" id="metadata.required" name="metadata.required">
        <option selected default value="">Click for options</option>
        <option value="Y">Yes</option>
        <option value="N"> No</option>
      </select></p>
    </p>
    <p>Column in metadata file giving file names used to identify each sample. Values should be simple names, not file paths, and unique to each sample. Using this column in the metadata overrides the use of input.trimPreifx and input.trimSuffix. For paired reads, give the forward read file and use input.suffixFw and input.suffixRv to link to the reverse file.
      <input class="sp" type="text" name="metadata.fileNameColumn" id="metadata.fileNameColumn" value="" placeholder="InputFileName">
    </p>
    <p>Require every metadata row to have a corresponding sequence file?
      <select class="sp" name="metadata.useEveryRow" id="metadata.useEveryRow">
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </p>
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="clusterTab" class="tabcontent">
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
      <p>Cluster host address (cluster.host):
        <input class="sp" type="text" id="cluster.host" name="cluster.host"><br></p>
      <p>Batch command to submit jobs on the cluster:
        <input class="sp" type="text" id="cluster.batchCommand" name="cluster.batchCommand"><br>
      </p>
      <p>Job script header to define # of nodes, # of cores, RAM, walltime, etc.
        <input class="sp" type="text" id="cluster.jobHeader" name="cluster.jobHeader"><br></p>
      <p>Validate cluster parameters: (If Y, validate
        cluster.jobHeader/cluster.classifierHeader "ppn:" or "procs:"
        value matches script.numThreads
        <select class="sp" id="cluster.validateParams" name="cluster.validateParams">
          <option selected default value="">Click for options</option>
          <option value="Y">Yes</option>
          <option value="N"> No</option>
        </select></p>
      <p>Cluster modules to load before execution:
        <input class="sp" type="text" id="cluster.modules" name="cluster.modules"><br>
      </p>
      <button type='submit' class='saveTab'>Save progress</button>
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="scriptTab" class="tabcontent">
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <p>Number of sequence files to process per script:
        <input class="sp" type="number" min='0' id="script.batchSize" name="script.batchSize"><br></p>
      <p>Command to grant script execute permissions:
        <input class="sp" type="text" id="script.permissions" name="script.permissions"><br></p>
      <p>Number of threads:
        <input class="sp" type="number" min='0' id="script.numThreads" name="script.numThreads"><br></p>
      <p>Default header: (Used to set shebang line to define scripts as bash executables, such as "#!/bin/bash"
        scriptDefaultHeader)
        <input class="sp" type="text" id="script.defaultHeader" name="script.defaultHeader"><br></p>
      <p>Set number of minutes before module script will time out and fail
        <input class="sp" type="number" min='0' id="script.timeout" name="script.timeout"><br>
      </p>
      <!--  Question for mike: whats the difference between these two? -->
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="reportTab" class="tabcontent">
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
      <p>Report logbase: (If e, use natural log (base e), otherwise use log base 10):
        <select class="sp" id="report.logBase" name="report.logBase">
          <option selected default value="">Click for options</option>
          <option value="e">e</option>
          <option value="10">10</option>
        </select></p>
      <p>Include number of hits in output:
        <select class="sp" id="report.numHits" name="report.numHits">
          <option selected default value="">Click for options</option>
          <option value="Y">Yes</option>
          <option value="N"> No</option>
        </select></p>
      <p>Add number of reads to output:
        <select class="sp" id="report.numReads" name="report.numReads">
          <option selected default value="">Click for options</option>
          <option value="Y">Yes</option>
          <option value="N"> No</option>
        </select></p>
      <p>"Integer, minimum table count allowed. If a count less that this value is found, it is set to 0.:
        <input class="sp" type="number" min='0' id="report.minCount" name="report.minCount"><br></p>      <!--  <p>Delimiter to sepearte genus and species:<br>
        <input class="sp" type="text" name="emptySpaceDelim"><br></p>-->
      <p <input class="sp" id='report.taxonomyLevels'>Taxonomic levels included in report:<br>
        <input type="checkbox" name="report.taxonomyLevels" value="domain">Domain<br>
        <input type="checkbox" name="report.taxonomyLevels" value="phylum">Phylum<br>
        <input type="checkbox" name="report.taxonomyLevels" value="class">Class<br>
        <input type="checkbox" name="report.taxonomyLevels" value="order">Order<br>
        <input type="checkbox" name="report.taxonomyLevels" value="family">Family<br>
        <input type="checkbox" name="report.taxonomyLevels" value="genus">Genus<br>
        <input type="checkbox" name="report.taxonomyLevels" value="species">Species<br>
      </p>
      <p>"Minimum percentage of samples that must contain a count value for it to be kept.:
        <input class="sp" type="number" min='0' max='1' id="report.scarceCountCutoff" name="report.scarceCountCutoff"><br></p>
      <p>"Minimum percentage of data columns that must be non-zero to keep the sample.:
        <input class="sp" type="number" min='0' max='1' id="report.scarceSampleCutoff" name="report.scarceSampleCutoff"><br></p>
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="mailTab" class="tabcontent">
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
      <p>Encrypted E-mail password:<br>
        <i>(Encrypted password from email.from account.  If BioLockJ is passed a 2nd parameter
          (in addition to the config file), the 2nd parameter should be the clear-text password.
          The password will be encrypted and stored in the prop file for future use.)</i><br>
        <strong>WARNING: Base64 encryption is only a trivial roadblock for malicious users.
          This functionality is intended merely to keep clear-text passwords out of the
          configuration files and should only be used with a disposable email.from account.</strong>
        <input class="sp" type="text" id="mail.encryptedPassword" name="mail.encryptedPassword"><br>
        <p>Notification emails sent from this account, provided email.encryptedPassword is valid:
          <input class="sp" type="text" id="mail.from" name="mail.from"><br>
          <p>Comma-separated email recipients list:
            <input class="sp" type="text" id="mail.to" name="mail.to"><br>
          </p>
          <p>Email SMTP Host:<br>
            <input class="sp" type="text" id="mail.smtp.host" name="mail.smtp.host"><br>
          </p>
          <p>Email SMTP port:<br>
          <input class="sp" type="text" id="mail.smtp.port" name="mail.smtp.port"><br>
        </p>
        <p>Set the SMTP authorization property:<br>
          <select class="sp" id="mail.smtp.auth" name="mail.smtp.auth">
            <option selected default value="">Click for options</option>
            <option value="Y">Yes</option>
            <option value="N"> No</option>
          </select></p>
        <p>Set the SMTP start TLS property:
          <select class="sp" id="mail.smtp.starttls.enable" name="mail.smtp.starttls.enable">
            <option selected default value="">Click for options</option>
            <option value="Y">Yes</option>
            <option value="N"> No</option>
          </select></p>
        <button class="createDownload">Create configuration file for download</button>
        <a class="downloadlink hidden">Download configuration file to default directory</a>
        <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="rTab" class="tabcontent">
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <p>The base color used for labels & headings in the PDF report:
        <input class="sp" type="text" id="r.colorBase" name="r.colorBase">
      </p>
      <p>The color palette for the plots:
        <input class="sp" type="text" name="r.colorPalette" id="r.colorPalette">
      <p>The color used to highlight significant attributes:
        <input class="sp" type="text" id="r.colorHighlight" name="r.colorHighlight">
      </p>
      <p>Sets the color of scatterplot points:<br>
        <input class="sp" type="text" id="r.colorPoint" name="r.colorPoint">
      </p>
      <p>Generate R Script log files:
        <select class="sp" id="r.debug" name="r.debug">
          <option selected default value="">Click for options</option>
          <option value="Y">Yes</option>
          <option value="N"> No</option>
        </select></p>
      <p>List metadata columns to exclude from R script reports (comma separated)
        <input class="sp" type="text" id='r.excludeFields' name='r.excludeFields'></p>
      <p>Explicitly override default field type assignment to model as a nominal field in R (Comma seperated list)<br>
        <input class="sp" type="text" id="r.nominalFields" name="r.nominalFields">    </p>
      <p>Sets R plot pch parameter for PDF report:
        <input class="sp" type='text' id="r.pch" name="r.pch"></p>
      <p>Sets p-value cutoff used to assign label the highlight color
        <input class="sp" type="text" id="r.pvalCutoff" name="r.pvalCutoff" value="">
      </p>
      <p>Format of the pvalue used in R sprintf() function
        <input class="sp" type="text" id="r.pValFormat" name="r.pValFormat" value=""></p>
      <p>Rare OTU threshold: (If > 1, R will filter OTUs below value provided. If < 1, R will interperate the value as a percentage and discard OTUs not found in at least that percentage of samples)
        <input class="sp" type="number" min='1' id="r.rareOtuThreshold" name="r.rareOtuThreshold" value=""></p>
      <p>Override field used to explicitly list metadata columns to report in the R scripts. If left undefined, all columns are reported.
      <input class="sp" type="text" id="r.reportFields" name="r.reportFields" value=""></p>
      <p>Save r data? (If Y, all R script generating BioModules will save R Session data to the module output directory to a file using the extension ".RData")
        <select class="sp" id="r.saveRData" name="r.saveRData">
          <option selected default value="">Click for options</option>
          <option value="Y">Yes</option>
          <option value="N"> No</option>
        </select></p>
      <p>Number of minutes before R Script times out:
        <input class="sp" type="number" min='1' id="r.timeout" name="r.timeout"><br>
      </p>
      <p>Explicitly override default field type assignment to model as a numeric field in R:
        <input class="sp" type="text" min='1' id="r.numericFields" name="r.numericFields"><br>
      </p>

      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="exeTab" class="tabcontent">
    <p>If the program executable isn't already in your classpath ($PATH), add the executable path below:
    </p>
    <!--Make it so default commands are hints that will not be saved.-->
       <button class="createDownload">Create configuration file for download</button>
       <a class="downloadlink hidden">Download configuration file to default directory</a>
      <p>Define executable awk command if default "awk" is not included in your $PATH:
        <input class="sp" type="text" id="exe.awk" name="exe.awk">
      </p>
      <p>Define executable bowtie2 command if default "bowtie2" is not included in your $PATH:
        <input class="sp" type="text" id="exe.bowtie2" name="exe.bowtie2">
      </p>
      <p>Optional bowtie2 parameters used by SlimmClassifier:
        <input class="sp" type="text" id="exe.bowtie2Params" name="exe.bowtie2Params">
      </p>
      <p>Define executable gzip command if default "gzip" is not included in your $PATH:
        <input class="sp" type="text" id="exe.gzip" name="exe.gzip">
      </p>
      <p>Define executable java command if default "java" is not included in your $PATH
        <input class="sp" type="text" id="exe.java" name="exe.java">
      </p>
      <p>Optional java parameters:
        <input class="sp" type="text" id="exe.javaParams" name="exe.javaParams">
      </p>
      <p>Define executable pear command if default "pear" is not included in your $PATH
        <input class="sp" type="text" id="exe.pear" name="exe.pear">
      </p>
      <p>Optional PEAR parameters:
        <input class="sp" type="text" id="exe.pearParams" name="exe.pearParams">
      </p>
      <p>Define executable python command, if default "python" is not included in your $PATH:
        <input class="sp" type="text" id="exe.python" name="exe.python">
      </p>
      <p>Define executable Rscript command, if default "Rscript" is not included in your $PATH:
        <input class="sp" type="text" id="exe.Rscript" name="exe.Rscript">
      </p>
      <p>Define executable vsearch command, if default "vsearch" is not included in your $PATH:
        <input class="sp" type="text" id="exe.vsearch" name="exe.vsearch">
      </p>
      <p>Optional vsearch parameters:
        <input class="sp" type="text" id="exe.vsearchParams" name="exe.vsearchParams">
      </p>
      <p>Define executable docker command, if default "docker" is not included in your $PATH:
        <input type="text" class="sp" id="exe.docker" name="exe.docker">
      </p>
      <p>Define executable humann2 command, if default "humann2" is not included in your $PATH:
        <input type="text" class="sp" id="exe.humann2" name="exe.humann2">
      </p>
      <p>Optional humann2 parameters:
        <input type="text" class="sp" id="exe.humann2Params" name="exe.humann2Params">
      </p>
      <p>Optional humann2 Join Table parameters:
        <input type="text" class="sp" id="exe.humann2JoinTableParams" name="exe.humann2JoinTableParams">
      </p>
      <p>Optional humann2 Renorm Table parameters:
        <input type="text" class="sp" id="exe.humann2RenormTableParams" name="exe.humann2RenormTableParams">
      </p>
      <p>Define executable kneaddata command, if default "kneaddata" is not included in your $PATH:
        <input type="text" class="sp" id="exe.kneaddata" name="exe.kneaddata">
      </p>
      <p>Optional kneaddata parameters:
        <input type="text" class="sp" id="exe.kneaddataParams" name="exe.kneaddataParams">
      </p>
      <p>Define executable kraken command, if default "kraken" is not included in your $PATH:
        <input type="text" class="sp" id="exe.kraken" name="exe.kraken">
      </p>
      <p>Optional kraken parameters:
        <input type="text" class="sp" id="exe.krakenParams" name="exe.krakenParams">
      </p>
      <p>Define executable kraken2 command, if default "kraken2" is not included in your $PATH:
        <input type="text" class="sp" id="exe.kraken2" name="exe.kraken2">
      </p>
      <p>Optional kraken2 parameters:
        <input type="text" class="sp" id="exe.kraken2Params" name="exe.kraken2Params">
      </p>
      <p>Define executable metaphlan2 command, if default "metaphlan2" is not included in your $PATH:
        <input type="text" class="sp" id="exe.metaphlan2" name="exe.metaphlan2">
      </p>
      <p>Optional metaphlan2 parameters:
        <input type="text" class="sp" id="exe.metaphlan2Params" name="exe.metaphlan2Params">
      </p>
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="demultiplexerTab" class="tabcontent moduleTab">
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <p>
        Demultiplexer barcode cutoff:
        <input type="text" name="demultiplexer.barcodeCutoff" id="demultiplexer.barcodeCutoff" class="sp "value="">
      </p>
      <p>
        Path to the mapping file to match sequence headers to barcodes:
        <input type="text" name="demultiplexer.mapping" id="demultiplexer.mapping" class="sp" value="">
      </p>
      <p>Set the Demultiplexer strategy. If using barcodes, they must be provided in the
        metadata.filePath with in column name defined by metadata.barcodeColumn. This is only used by the Demultiplexer module:
        <select class="sp" id="demultiplexer.strategy" name="demultiplexer.strategy">
          <!-- <option selected value="">Click for options</option> -->
          <option value="barcode_in_header">Barcode in header</option>
          <option value="barcode_in_seq">Barcode in sequence</option>
          <option value="id_in_header">Sequence ID in header</option>
          <option selected default value="do_not_demux.">N/A</option>
        </select>
      </p>
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
    </div>

  <div id="dockerTab" class="tabcontent moduleTab">
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <p>
        Docker Image version:
        <br>
        (By default, docker will always use 'latest', but advanced users may specify a different tag)
        <input type="text" class="sp" name="docker.imgVersion" id="docker.imgVersion" value="">
      </p>
      <p>Docker Hub user name with the BioLockJ containers. By default the "biolockj" user is used to pull the standard modules, but advanced users can deploy their own versions of these modules and add new modules in their own Docker Hub account:
      <input type="text" class="sp" name="docker.user" id="docker.user" value="">
      </p>
      <p>Save container on exit:
        <select class="sp" name="docker.saveContainerOnExit" id="docker.saveContainerOnExit">
          <option selected default value="">Click for options</option>
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
      </p>
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
    </div>

  <div id="rdpTab" class="tabcontent">
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <p>Required RDP minimum threshold score for valid OTUs:
        <input class="sp" type="text" id="rdp.minThresholdScore" name="rdp.minThresholdScore">
      </p>
      <p>File property for RDP java executable JAR:
        <input class="sp" type="text" size='70' id="rdp.jar" name="rdp.jar">
      </p>
      <p>Alternative RDP database:
        <input type="text" name="rdp.db" id="rdp.db" value="">
      </p>
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="qiimeTab" class="tabcontent">
      <button type='submit' class='saveTab'>Save progress</button>
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <p>Alpha diverisity metrics: <br> Options listed online:
        <a href="http://scikit-bio.org/docs/latest/generated/skbio.diversity.alpha.html">
          scikit-bio.org/docs/latest/generated/skbio.diversity.alpha.html</a>.<br>
        <input class="sp" type="text" id="qiime.alphaMetrics" name="qiime.alphaMetrics">
      </p>
      <p>Remove chimeras after open or de novo OTU picking:<br>
        <select class="sp" id="qiime.removeChimeras" name="qiime.removeChimeras">
          <option selected default value="">Click for options</option>
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select></p>
      </p>
      <p>Optional parameters passed to qiime scripts:
        <input class='sp' type="text" name="qiime.params" id="qiime.params"value="">
      </p>
      <fieldset>
        <legend>If supplied, all three of these must be in the same parent directory.
          For more info about these parameters,
          visit <a href="http://qiime.org/install/qiime_config.html">http://qiime.org/install/qiime_config.html</a>.
        </legend>
            File property to define ~/.qiime_config pynast_template_alignment_fp.
            This defines the template alignment to use with PyNAST as a fasta file,
            if the user doesn't want to use the default (more info at ):
            <input class='sp' type="text" name="qiime.pynastAlignDB" id="qiime.pynastAlignDB">
            <br>
            File property to define ~/.qiime_config pick_otus_reference_seqs_fp and
            assign_taxonomy_reference_seqs_fp, reference database to use with all OTU
            picking scripts and workflows, if you prefer to not use the default:
            <input class='sp' type="text" name="qiime.refSeqDB" id="qiime.refSeqDB">
            <br>
            File property to define ~/.qiime_config assign_taxonomy_id_to_taxonomy_fp,
            an id-to-taxonomy map to use with assign_taxonomy.py (and parallel versions),
            if you prefer to not use the default:
            <input class='sp' type="text" name="qiime.taxaDB" id="qiime.taxaDB">
      </fieldset>
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="krakenTab" class="tabcontent">
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <p>Path to Kraken database:
        <input class="sp" type="text" size='70' id="kraken.db" name="kraken.db">
      </p>
      <button type='submit' class='saveTab'>Save progress</button>
      <button class="createDownload">Create configuration file for download</button>
      <a class ="downloadlink hidden" class="hidden">Download configuration file to default directory</a>
  </div>

  <div id="kraken2Tab" class="tabcontent">
      <button class="createDownload">Create configuration file for download</button>
      <a class="downloadlink hidden">Download configuration file to default directory</a>
      <p>Path to Kraken database:
        <input class="sp" type="text" size='70' id="kraken2.db" name="kraken2.db">
      </p>
      <p>Path to Kraken classifier:
        <input class="sp" type="text" size='70' id="kraken2.classifier" name="kraken2.classifier">
      </p>
      <button type='submit' class='saveTab'>Save progress</button>
      <button class="createDownload">Create configuration file for download</button>
      <a class ="downloadlink hidden" class="hidden">Download configuration file to default directory</a>
  </div>

  <div id="r_PlotMdsTab" class="tabcontent moduleTab">
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <p>Number of MDS axes to plot:
      <input class="sp" type="number" min="1" name="r_PlotMds.numAxis" id="r_PlotMds.numAxis" value="">
    </p>
    <p>Select the distance/dissimilary measure for your MDS BuildMdsPlots
      <select class="sp" id='r_PlotMds.distance' name="r_PlotMds.distance">
        <option selected default value="">Click for options</option>
        <option value="euclidean">Euclidean dissimilarity</option>
        <option default value="bray">Bray Curtis dissimilary</option>
        <option value="manhattan">Manhattan dissimilarities</option>
        <option value="canberra">Canberra index</option>
        <option value="kulczynski">Kulczynski index</option>
        <option value="jaccard">Jaccard index</option>
        <option value="gower">Gower index</option>
        <option value="altGower">Alternative Gower index</option>
        <option value="morisita">Morisita index</option>
        <option value="horn">Horn index</option>
        <option value="mountford">Mountford index</option>
        <option value="raup">Raup index</option>
        <option value="binomial">Binomial index</option>
        <option value="chao">Chao index</option>
        <option value="cao">Cao index</option>
        <option value="mahalanobis">Mahalanobis index</option>
      </select><br>
    </p>
    <p>Override field used to explicitly list metadata columns to build MDS plots. If left undefined, all columns are reported
      <input type="text" class='sp' id="r_PlotMds.reportFields" name="r_PlotMds.reportFields" value="">
    </p>
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="r_CalculateStatsTab" class="tabcontent moduleTab">
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <p>P-value adjustment scope: Used to set the p.adjust "n" parameter for how many simultaneous p-value calculations:
      <select class="sp" id="r_CalculateStats.pAdjustScope" name="r_CalculateStats.pAdjustScope">
        <option selected default value="">Click for options</option>
        <option value="GLOBAL">GLOBAL</option>
        <option value="LOCAL">LOCAL</option>
        <option value="TAXA">TAXA</option>
        <option value="ATTRIBUTE">ATTRIBUTE</option>
      </select>
    </p>
    <p>Set the p.adjust "method" parameter:<a href=https://stat.ethz.ch/R-manual/R-devel/library/stats/html/p.adjust.html>More info</a><br>
      <select class="sp" id="r_CalculateStats.pAdjustMethod" name="r_CalculateStats.pAdjustMethod">
        <option selected default value="">Click for options</option>
        <option value="holm">Holm</option>
        <option value="hochberg">Hochberg</option>
        <option value="hommel">Hommel</option>
        <option value="bonferroni">Bonferroni</option>
        <option value="BH">Benjamini & Hochberg (BH)</option>
        <option value="BY">Benjamini & Yekutieli (BY)</option>
        <option value="fdr">FDR</option>
        <option value="none">none</option>
      </select>
    </p>
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="r_PlotEffectSizeTab" class="tabcontent moduleTab">
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <p>Use parametric p-values or nonparametric p-values to determine statisticl significance:
      <select class="sp" id="r_PlotEffectSize.parametricPval" name="r_PlotEffectSize.parametricPval">
        <option value="Y">parametric</option>
        <option default value="N">nonparametric (default)</option>
      </select></p>
    </p>
    <p>Exclude taxa with p-values above __ from plots:
        <input class='sp' type="number" min="0" max="1" name="r_PlotEffectSize.excludePvalAbove" id="r_PlotEffectSize.excludePvalAbove" value="">
    </p>
    <p>
      Override other criteria for selecting which taxa to include in the plot by specifying which taxa should be included in comma seperated list:
      <input class='sp' type="text" name="r_PlotEffectSize.taxa" id="r_PlotEffectSize.taxa" value="">
    </p>
    <p>Each plot is given one page. This is the maximum number of bars to include in each one-page plot.
      <input class='sp' type="number" min="0" id="r_PlotEffectSize.maxNumTaxa" name="r_PlotEffectSize.maxNumTaxa" value="">
    </p>
    <p>Disable adjusted p-value when determining which tax to include in the plot: <br>(If Yes, the non-adjusted p-value is used when determining which taxa to include in the plot and which should get a (*). If No, the adjusted p-value is used).
      <select class="sp" name="r_PlotEffectSize.disablePvalAdj" id="r_PlotEffectSize.disablePvalAdj">
        <option selected default value="">Click for options</option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </p>
    <p>Disable plots based on Cohen's d (effect size): <br> (If No, produce plots for binary attributes showing effect size calculated as Cohen's d. If Yes, skip this plot type.)"
      <!-- ask about this discription  -->
      <select class="sp" name="r_PlotEffectSize.disableCohensD" id="r_PlotEffectSize.disableCohensD">
        <option selected default value="">Click for options</option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </p>
    <p>Disable r-squared: <br> (If No, produce plots showing effect size calculated as the r-squared value. If Y, skip this plot type.)
      <select class="sp" name="r_PlotEffectSize.disableRSquared" id="r_PlotEffectSize.disableRSquared">
        <option selected default value="">Click for options</option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </p>
    <p>Disable Fold-chain: <br> (If No, produce plots for binary attributes showing the fold change. If Y, skip this plot type.)
      <select class="sp" name="r_PlotEffectSize.disableFoldChange" id="r_PlotEffectSize.disableFoldChange">
        <option selected default value="">Click for options</option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </p>
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="rarefyOtuCountsTab" class="tabcontent moduleTab">
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <p>The number of iterations to randomly select the rarefyOtuCounts.quantile of OTUs:
      <input class='sp' type="number" name="rarefyOtuCounts.iterations" id="rarefyOtuCounts.iterations" min="1" value="">
    </p>
    <p>Minimum percentage of samples that must contain an OTU:
      <input class='sp' type="number" min="0" max="100" name="rarefyOtuCounts.lowAbundantCutoff" id="rarefyOtuCounts.lowAbundantCutoff" value="">
    </p>
    <p>Quantile for rarefication. The number of OTUs/sample are ordered, all samples with more OTUs than the quantile sample are subselected without replacement until they have the same number of OTUs as the quantile sample"}
      <input class='sp' type="number" name="rarefyOtuCounts.quantile" id="rarefyOtuCounts.quantile" value="">
    </p>
    <p>Remove all samples below the rarefyOtuCounts.quantile quantile:
      <select class="sp" name="rarefyOtuCounts.rmLowSamples" id="rarefyOtuCounts.rmLowSamples">
        <option selected default value="">Click for options</option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </p>
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="removeLowOtuCountsTab" class="tabcontent moduleTab">
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="seqFileValidatorTab" class="tabcontent moduleTab">
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <p>Require equal numbers of pairs in sequencing input:
      <select class="sp" name="seqFileValidator.requireEqualNumPairs" id="seqFileValidator.requireEqualNumPairs">
        <option selected default value="">Click for options</option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </p>
    <p>Maximum number of bases per read:
      <input class='sp' type="number" min="1" name="seqFileValidator.seqMaxLen" id="seqFileValidator.seqMaxLen" value="">
    </p>
    <p>Minimum number of bases per read:
      <input class='sp' type="number" min="1" name="seqFileValidator.seqMinLen" id="seqFileValidator.seqMinLen" value="">
    </p>
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="kneadDataTab" class="tabcontent moduleTab">
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a><br>
    <!-- kneaddata.dbs ß just like input.dirPaths, kneaddata.dbs normally accepts multiple input paths, but on AWS we will require all DBs exist under 1 parent dir, so GUI should verify only 1 directory path given if they want to run on AWS. -->
    Custom Protein Database Full path:<br>
    <input type="text" name="kneaddata.dbs" id="kneaddata.dbs" value=""><br>
    Note: Normally this field accepts multiple input paths, seperated by comas, but on AWS we require all DBs exist under a single parent directory.<br>
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="humann2Tab" class="tabcontent moduleTab">
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <p>Disable HumanN2 Gene Family report:
      <select class="sp" name="humann2.disableGeneFamilies" id="humann2.disableGeneFamilies">
        <option selected default value="">Click for options</option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </p>
    <p>Disable HumanN2 Pathway Abundance report:
      <select class="sp" name="humann2.disablePathAbundance" id="humann2.disablePathAbundance">
        <option selected default value="">Click for options</option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </p>
    <p>Disable HumanN2 Pathway Coverage report:
      <select class="sp" name="humann2.disablePathCoverage" id="humann2.disablePathCoverage">
        <option selected default value="">Click for options</option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </p>blj_support Config files updated to use this property whenever we use Silva for RDP.
    HumanN2 requires 2 DBs, AWS expects them both to reside under 1 parent directory.
    <p>HummanN2 nucleotide database (Directory property may contain multiple nucleotide database files):
    <input type="text" class="sp" name="humann2.nuclDB" id="humann2.nuclDB" value="">
    </p>
    <p>HummanN2 protein database (Directory property may contain multiple nucleotide database files):
    <input type="text" class="sp" name="humann2.protDB" id="humann2.protDB" value="">
    </p>
    <p>Keep UNMAPPED column in count tables:
      <select class="sp" name="humann2.keepUnmapped" id="humann2.keepUnmapped">
        <option selected default value="">Click for options</option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </p>
    <p>Keep UNINTEGRATED column in count tables:
      <select class="sp" name="humann2.keepUnintegrated" id="humann2.keepUnintegrated">
        <option selected default value="">Click for options</option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </p>
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="multiplexerTab" class="tabcontent moduleTab">
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <p>Gzip the multiplexed output:
      <select class="sp" name="multiplexer.gzip" id="multiplexer.gzip">
        <option selected default value="">Click for options</option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
      </select>
    </p>
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="rarefySeqsTab" class="tabcontent moduleTab">
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <p>Randomly select maximum number of sequences per sample
      <input class="sp" type="number" min="1" name="rarefySeqs.max" id="rarefySeqs.max" value="">
    </p>
    <p>Discard samples without minimum number of sequences:
      <input class="sp" type="number" min="1" name="rarefySeqs.min" id="rarefySeqs.min" value="">
    </p>
    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>

  <div id="AwsTab" class="tabcontent moduleTab">
    <button class="createDownload">Create configuration file for download</button><br>
    <p>AWS profile as found in your rootkey.csv:
      <!-- Add update to this in save loop -->
      <input class="sp" type="text" placeholder="select AWS profile"list="awsProfiles" name="aws.profile" id="aws.profile">
      <datalist name='awsProfiles' id="awsProfiles" placeholder='add your own'>
        <option value="default">default</option>
      </datalist>
    </p>
    <p>Please select the geographic area in which you live. Subsequent configuration
  questions will narrow this down by presenting a list of cities, representing
  the time zones in which they are located.
    <select class="sp" class="" name="REGION" id="">
      <option default value="us-east-1">us-east-1</option>
      <option value="1">Africa</option>
      <option value="2">America</option>
      <option value="3">Antarctica</option>
      <option value="4">Australia</option>
      <option value="5">Arctic</option>
      <option value="6">Asia</option>
      <option value="7">Atlantic</option>
      <option value="8">Europe</option>
      <option value="9">Indian</option>
      <option value="10">Pacific</option>
      <option value="11">SystemV</option>
      <option value="10">Pacific</option>
      <option value="11">SystemV</option>
      <option value="12">US</option>
      <option value="13">Etc</option>
    </select>
    <span class="correctInput">&#10003;</span><span class='incorrectInput'>X</span>
    </p>
    <p>AWS ram:
      <input class="sp" type="text" name="aws.ram" value="">
    </p>
    <!-- Add update to this in save loop -->
    <p>AWS S3 bucket:
      <input class="sp" type="text" name="aws.s3" id="aws.s3" placeholder="select AWS stack name" list="s3BucketList">
      <datalist name='s3BucketList' id="s3BucketList" class='stackList'>
      </datalist>
    </p>
    <p>AWS RAM:
      <input class="sp" type="text" id="aws.ram" value=""><br>
    </p>
    <!-- <p>BioLockJ project folder on S3
      <input type="text" name="s3.blj_proj" id="s3.blj_proj" value=""><br>
    </p> -->
    <p>Copy input files to S3 storage?
      <select class="sp" name="aws.copyInputsToS3" value="aws.copyInputsToS3">
        <option value="">Choose an option</option>
        <option value="Y">Yes</option>
        <option value="N">No, delete input files</option>
      </select>
    </p>
    <p>Copy entire pipeline to S3 storage?
      <select class="sp" name="aws.copyPipelineToS3" value="aws.copyPipelineToS3">
        <option value="">Choose an option</option>
        <option value="Y">Yes</option>
        <option value="N">No, delete the pipeline</option>
      </select>
    </p>
    <p>Copy report to S3?
      <select class="sp" name="aws.copyReportsToS3" value="aws.copyReportsToS3">
        <option value="">Choose an option</option>
        <option value="Y">Yes</option>
        <option value="N">No, delete report</option>
      </select>
    </p>
    <p>Purge Efs Inputs?
      <select class="sp" name="aws.purgeEfsInputs" value="aws.purgeEfsInputs">
        <option value="">Choose an option</option>
        <option value="Y">Yes</option>
        <option value="N">No, leave them on EC2</option>
      </select>
    </p>
    <p>Purge Efs Ouputs?
      <select class="sp" name="aws.purgeEfsOuputs" value="aws.purgeEfsOutputs">
        <option value="">Choose an option</option>
        <option value="Y">Yes</option>
        <option value="N">No, leave them on EC2</option>
      </select>
    </p>
    <p>Shutdown EC2 after purge?
      <select class="sp" class="" name="aws.ec2ShutdownAfterPurge" value="aws.ec2ShutdownAfterPurge">
        <option value="">Choose an option</option>
        <option value="Y">Yes</option>
        <option value="N">No, leave EC2 running</option>
      </select>
    </p>
    <p>Save cloud after purge?(Mike is this the correct question for aws.saveCloud?)
      <select class="sp" class="" name="aws.saveCloud" value="aws.saveCloud">
        <option value="">Choose an option</option>
        <option value="Y">Yes</option>
        <option value="N">No, leave EC2 running</option>
      </select>
    </p>
    <p>AWS walltime:
      <input class="sp" type="number" min="1" name="aws.walltime" id="aws.walltime" value="">
    </p>
    <!-- Add update to this in save loop -->
    <p>EC2 Instance ID:
      <input class="sp" type="text" name="aws.ec2InstanceID" id="aws.ec2InstanceID" placeholder="select EC2 ID" list="ec2InstanceList">
        <datalist id="ec2InstanceList" class='stackList'>
        </datalist>
    </p>
    <!-- Add update to this in save loop -->
    <p>EC2 Instance Type:
      <input class="sp" type="text" name="aws.ec2InstanceID" id="aws.ec2InstanceID" placeholder="select AWS stack name" list="ec2instanceType">
    </p>
    <p>Spot price for AWS minues (percentage going rate that you are willing to pay per minute ):
      <input class="sp" type="percentage" id="aws.ec2SpotPer" name="aws.ec2SpotPer" value="100">%<br>
    </p>
    <p>Stack name:
      <input class="sp" type="text" name="aws.stack" id="aws.stack" placeholder="select stack" list="AwsStackList">
        <datalist id="AwsStackList" class="stackList">
        </datalist>
    </p>
<!-- Still need to add input for
    aws.ec2AcquisitionStrategy
-->


    <button class="createDownload">Create configuration file for download</button>
    <a class="downloadlink hidden">Download configuration file to default directory</a>
    <button type="button" class="openLaunchModal">Ready to Launch BioLockJ!</button>
  </div>
</form> <!--End of configForm -->

</div><!-- End Menu tab -->

<div class="modal" id="awsSettings">
  <div class="modal-content">
    <span class="closeModal">×</span>
    <legend>AWS Mini-dashboard</legend>
      <button type="button" id="getMalcolmGitRepo" name="button">Get Malcolm Repo</button>
      <button type="button" id="validateAwsCreditials" name="button">Pre-validate Credentials</button>
      <form id='configureAwsForm' class="" action="#" method="#">
      <fieldset>
        <legend>Configure AWS Credentials</legend>
        <a href="https://console.aws.amazon.com/iam/home?#/security_credentials">If you don’t have an access key ID, click here and select access keys to create one.</a>
        <p>AWS Access Key ID:<input required type="text" name="AWSACCESSKEYID">
          <span class="correctInput">&#10003;</span><span class='incorrectInput'>X</span></p>
        <p>*AWS Secret Key ID:*<input required type="text" name="AWSSECRETACCESSKEY">
          <span class="correctInput">&#10003;</span><span class='incorrectInput'>X</span></p>
        <p>Please select the geographic area in which you live. Subsequent configuration
      questions will narrow this down by presenting a list of cities, representing
      the time zones in which they are located.
        <select class="" name="REGION">
          <option default value="us-east-1">us-east-1</option>
          <option value="1">Africa</option>
          <option value="2">America</option>
          <option value="3">Antarctica</option>
          <option value="4">Australia</option>
          <option value="5">Arctic</option>
          <option value="6">Asia</option>
          <option value="7">Atlantic</option>
          <option value="8">Europe</option>
          <option value="9">Indian</option>
          <option value="10">Pacific</option>
          <option value="11">SystemV</option>
          <option value="10">Pacific</option>
          <option value="11">SystemV</option>
          <option value="12">US</option>
          <option value="13">Etc</option>
        </select>
        <span class="correctInput">&#10003;</span><span class='incorrectInput'>X</span>
        </p>
        <p>Profile:
          <select required class="" name="PROFILE">
            <option value="default">default</option>
          </select>
          <span class="correctInput">&#10003;</span><span class='incorrectInput'>X</span>
        </p>
        <p id="AWSOutput"></p>
        <button type="submit" id='submitConfigureAWS' name="button">Set AWS Configuration</button>
      </fieldset>
    </form>
    <form class="" id='AwsStack' action="#" method="">
      <fieldset>
        <legend>
          AWS CLoud Infrastructure Stack
          <span class="correctInput">&#10003;</span><span class='incorrectInput'>X</span><span class='inProgress'>O</span>
        </legend>
        <p>Stackname: <input type="text" name="stackname" placeholder="select AWS stack name" list="cloudFormationStackDatalist">
          <datalist name='cloudFormationStackDatalist' id="cloudFormationStackDatalist" class='stackList'>
          </datalist>
        </p>
        <p>Docker HUB user account (for images used):<input type="text" name="dockerRepository" value="biolockj">
        </p>
        <p>S3bucket: <input type="text" name="s3bucket" value="autogenerate">
        </p>
        <p>You can view your S3 bucket here <a href="http://s3.console.aws.amazon.com">http://s3.console.aws.amazon.com</a>.
        </p>
        <p>Create or delete stack?
          <select class="" name="deployArg">
            <option default value="create">create</option>
            <option value="delete">delete</option>
          </select>
        </p>
        <span class="correctInput">&#10003;</span>
        <span class='incorrectInput'>X</span>
        <span class='inProgress'>O</span>
        <a id="stackPath"></a>
        <button type="button" id='deployComputeStack' value='deployComputeStack1' name="deployComputeStack">Deploy Compute Stack</button>
      </fieldset>
    </form>
    <form id="launchEc2HeadNode"class="" action="#" method="">
      <fieldset>
        <legend>EC2 headnode</legend>
        <span class="correctInput">&#10003;</span><span class='incorrectInput'>X</span><span class='inProgress'>O</span>
        <p>Launch action:
          <select class="" name="launchAction">
            <option value="directconnect">directconnect</option>
            <option value="runscript_attached">runscript attached</option>
            <option value="runscript_detached">runscript detached</option>
          </select>
        </p>
        <p>Stack name:
          <input type="text" placeholder="select AWS stack name"list="ec2StackName">
          <datalist name='ec2StackName' placeholder='add your own' id="ec2StackName" class='stackList'>
          </datalist>
        </p>
        <p>Script name:
        <input type="text" name="scriptName" value="startHeadNodeGui.sh"></p>
        <p>instanceType:
          <input type="text" placeholder="select AWS instance type or define a custom type" list="ec2instanceType">
          <datalist id="ec2instanceType">
            <option value="t2.micro">1GB</option>
            <option value="t2.small">2GB</option>
            <option value="t2.medium">4GB</option>
            <option value="t2.large">8GB</option>
            <option value="t2.xlarge">16GB</option>
          </datalist>
        </p>
        <p>
          Instance name:
          <select class="" name="instanceName">
            <option default value="HeadNode">HeadNode</option>
          </select>
        </p>
        <span class="correctInput">&#10003;</span><span class='incorrectInput'>X</span><span class='inProgress'>O</span>
        <button type="button" id='launchEc2HeadNodeButton' name="launchEc2HeadNodeButton">Launch EC2 headnode</button>
        <!-- <button type="button" id='terminateEc2HeadNodeButton' name="terminateEc2HeadNodeButton">Terminate EC2 headnode</button> -->
      </fieldset>
    </form>
  </div>
</div>

<!-- launchEC2Node.sh property instanceHostNamePublic blj_testing -->

<div id='configManager' class="modal">
  <div class="modal-content">
    <span class="closeModal">×</span>
    <form id='configManagerForm' action="#" method="#">
      <div id='deleteConfigsDiv' class="">

      </div>
      <button type="button" id='submitDeleteConfig' name="submitDelete">Delete Selected</button>
    </form>
  </div>
</div>

<!-- The Modal that appears after ready to launch button is pressed -->
<div id="launchConsole" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="closeModal">&times;</span>
    <div id='progress'></div>
    <div id='log'></div>
  <form id="projectLaunchOptions">
    <fieldset>
      <legend>Project Launch Options</legend>
      Use this configuation to start a new pipeline.
      <input type="radio" name="projLaunch" value="launchNew" checked>
      <p id="projOptFieldSet"></p>
    </fieldset>
    <fieldset>
      <legend>If restarting, you may restart from last checkpoint (keep previous progress) or from beginning (remove all progress).</legend>
      <select class="" name="restartOption">
        <option value="">Options for restarting a project</option>
        <option value="restartFromCheckPoint">Restart from last checkpoint (keep previous progress)</option>
        <option value="eraseThenRestart">Restart from beginning (erase all current progress)</option>
      </select>
    </fieldset>
  </form>
    <button type="button" class='' id="launchBlj" name="launchBlj">Launch</button>
  </div>

</div><!-- end launch console -->

<div id="defaultPropertiesModal"class="modal">
  <div class="modal-content">
    <span class="closeModal">&times;</span>
    <div class="">
      The default properties file of a BioLockJ configureation are used to fill empty parameters
      in configuration files.  Multiple default properties files can be chained together by making
      one the default properties file of the next.
    </div>
    <button type="button" id="seeResolvedDefaultProperties" name="seeResolvedDefaultProperties">See default properties</button>
    <button type="button" name="acceptDefaultProps" id="acceptDefaultProps">Accept default properties</button>
    <button type="button" class="closeModal" name="cancel">Cancel</button>
    <!-- <fieldset>
      <legend>Please verify your default parameters</legend> -->
        <table class="hidden" id="parameterSelectorTable"></table><br>
    <!-- </fieldset><br> -->
  </div>
</div>

<div id="prevConfigModal"class="modal">
  <div class="modal-content">
    <span class="closeModal">&times;</span>
    <div class="">
      Any previously run config file can be cloned, however, only unsuccessful configs can be edited.
      <div >
        <ul id="prevRunConfigsUl">

        </ul>
      </div>
    </div>
    <button type="button" class="closeModal" name="cancel">Cancel</button>
  </div>
</div>

<div class="banner">
  <!--Working on logo here-->
  <?xml version="1.0" standalone="No"?>
  <svg width="150" height="75" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <!--rounded edges rect-->
    <rect x="60" y="20" rx="10" ry="10" width="30" height="30" stroke="black" fill="transparent" stroke-width="4"/>
    <!--<ellipse cx="75" cy="75" rx="20" ry="5" stroke="red" fill="transparent" stroke-width="5"/>-->
    <path d="M60,23 Q70,5  80,5 T90,23" fill="none" stroke="rgb(243,144,29)" stroke-width="2"/>
    <path d="M60,23 Q65,3  75,5 T90,23" fill="none" stroke="rgb(0,112,60)" stroke-width="2"/>
    <text x="69" y="43" dx="0" font-family="Times">J</text>
    <!--<path d="M70,30 L80,30  M75,30 L75,35 " fill="none" stroke="rgb(0,112,60)" stroke-width="2"/>-->
  </svg>
  <!-- <button form='configForm' type="submit" name="button" class='hidden'></button> -->
</div>

<div id="urlInfo" class="">
  <!--
  This is a hidden panel for passing handlebars variables to the javascript.
  It feels like a hack but I don't know enough about Express to find a better
  solution
 -->
  <div id='configPath' class="">
    {{configPath}}
  </div>
</div>

<script type="text/javascript" src="/javascripts/config_menus.js"></script>
<script type="text/javascript" src="./../javascripts/config_config.js"></script>
<script type="text/javascript" src="./../javascripts/tests/standPropsAllPresent.js"></script>
<script type="text/javascript" src="./../javascripts/awsMiniDash.js"></script>
<script type="module" src="./../javascripts/config_aws.js"></script>

<!-- <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>
<script <script type="text/babel" src="./../javascripts/config_react.js"></script> -->

</script>
<!-- <script type="text/javascript" src="resetAnimationWorker.js"></script> -->
