<link rel="stylesheet" type="text/css" href="./stylesheets/splash.css" />

<!-- <img src="./images/BioLockJ_Block_green.svg"> -->

<div id='configRedirect' class="fileViewer">
  <a href="/config">Create, edit, or upload BioLockJ configuation file)</a>
</div>

<div id='projectsViewer' class="fileViewer">
  Existing projects
</div>

<script type="text/javascript" src="./javascripts/splash.js"></script>
