<div id='root' class=""></div>
<!-- add JSX (minified) -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<!-- the following are unminified (development only) -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
