<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
<button onclick="location.href='/';">Splash page</button>
<button onclick="location.href='/config';">Configure a project</button>
<!-- <button onclick="location.href='/progress';">Progress of current project</button>
<button onclick="location.href='/results';">Results</button><br> -->

  {{{ body }}}


<script type="text/javascript">

</script>
</body>

</html>
